<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Brain Strokes</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo1.png" rel="icon">  
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">brainstrokesdiagn@usa.med.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="assets/img/logo1.png" alt=""> 
        <h1>Brain Strokes Diagnosis Center<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">Types of Brain Strokes</a></li>
          <li><a href="#services">Warning Signs</a></li>
          <li><a href="#stats-counter">Statistics</a></li>
          <li><a href="#call-to-action">Emergency</a></li>
          <li><a href="/predict">Brain Stroke Prediction</a></li>      
          <li><a href="#contact">Contact</a></li>
          <li><a href="blog.html">Login</a></li>  
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>What are Brain Strokes?</h2>
          <p style="text-align: justify; text-justify: inter-word; color:rgb(239, 231, 231)"><b>A stroke is a medical emergency that happens when the blood flow to your brain is interrupted. Without blood, your brain cells start to die. This can cause serious symptoms, lasting disability, and even death.

            There’s more than one kind of stroke. Keep reading to learn about the three main types of strokes, their symptoms, and treatments.</b></p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started">Read More...</a>
          </div>
        </div>



        
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="assets/img/water-drop.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>








       <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <br>
          <br>
          <h2>What are the different types of strokes? </h2>
          <!-- <h3>About Us</h3> -->

          <img class="img-fluid" src="assets/img/types.png" alt="Statistics Image" width="1100" height="350" data-aos="zoom-out" data-aos-delay="100">
          <div class="stats-desc">
          </div>

        </div>

        
        <div class="row gy-4">
          <div class="col-lg-4">
            <p style="inter-word; color:rgb(239, 231, 231)"><b><u>schemic stroke</u></b></p>
            <p style="text-align: justify; text-justify: inter-word; color:rgb(239, 231, 231)">This is the most common type of stroke. It happens when the brain's blood vessels become narrowed or blocked, causing severely reduced blood flow (ischemia). Blocked or narrowed blood vessels are caused by fatty deposits that build up in blood vessels or by blood clots or other debris that travel through the bloodstream, most often from the heart, and lodge in the blood vessels in the brain.</p>
            
          </div>
          <div class="col-lg-4">
            <p style="inter-word ; color:rgb(239, 231, 231)"><b><u>Hemorrhagic stroke</u></b></p>
            <p style="text-align: justify; text-justify: inter-word; color:rgb(239, 231, 231)">A hemorrhagic stroke results when a blood vessel in your brain ruptures or breaks, spilling blood into the surrounding tissues. There are three main types of hemorrhagic strokes: The first is an aneurysm, which causes a portion of the weakened blood vessel to balloon outward and sometimes rupture. The other is an arteriovenous malformation, which involves abnormally formed blood vessels. If such a blood vessel ruptures, it can cause a hemorrhagic stroke. </p>
            
          </div>
          <div class="col-lg-4">
            <p style="inter-word ; color:rgb(239, 231, 231)"><b><u>Transient ischemic attack (TIA)</u></b></p>
            <p style="text-align: justify; text-justify: inter-word; color:rgb(239, 231, 231)">A transient ischemic attack (TIA) — sometimes known as a ministroke — is a temporary period of symptoms similar to those in a stroke. A TIA doesn't cause permanent damage. A TIA is caused by a temporary decrease in blood supply to part of the brain, which may last as little as five minutes. </p>
            
          </div>
          
        </div>
        
      </div>
      
    </section><!-- End About Us Section -->
    </div>

    <div class="icon-boxes position-relative" id="services">

      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

          </div>

            <div class="icon-box">
              <h3 style="font-size: 44px; color: black; font-weight: bold;">Warning Signs of a Stroke</h3>
              
              <img class="img-fluid" src="assets/img/testimonials/warnings.png" alt="Statistics Image" width="5500" height="200" data-aos="zoom-out" data-aos-delay="100">
              
            </div>
          </div><!--End Icon Box -->


        </div>
      </div>



    </div>

  </section>
  <!-- End Hero Section -->

  <main id="main">




   












    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">
        <div class="section-header">
          <h2>Risk Factors </h2>
          </div>
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/img/clients/bloodpressure.png" class="img-fluid" alt=""><p> High blood pressure</p></div>
            <div class="swiper-slide"><img src="assets/img/clients/obese.jpg" class="img-fluid" alt=""><p> Being overweight or obese</p></div>
            <div class="swiper-slide"><img src="assets/img/clients/chol.jpg" class="img-fluid" alt=""><p> High cholesterol</p></div>
            <div class="swiper-slide"><img src="assets/img/clients/diabetes.jpg" class="img-fluid" alt=""><p> Diabetes</p></div>
            <div class="swiper-slide"><img src="assets/img/clients/heart.jpg" class="img-fluid" alt=""><p> Cardiovascular disease</p></div>
            <div class="swiper-slide"><img src="assets/img/clients/old.jpg" class="img-fluid" alt=""><p> People age 55 or older</p></div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->
















    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">
          <div class="section-header">
            <h3 style="font-size: 24px; color: black; font-weight: bold;">Statistics about strokes </h3>
          </div>
          <div class="col-lg-6">
            <img src="assets/img/stats-img.svg" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6">
            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="795000" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>people per year in the United States</strong> have a stroke. </p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <p>Every              .</p>
              <span data-purecounter-start="0" data-purecounter-end="40" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong> Seconds</strong> someone in the United States has a stroke.</p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <p>Every              .</p>
              <span data-purecounter-start="0" data-purecounter-end="210" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong> Seconds</strong> someone in the United States dies of stroke.</p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
               <span data-purecounter-start="0" data-purecounter-end="53" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong> billion $</strong>  Stroke-related costs occured in the US between 2017 and 2018.</p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <p><strong> To see more Statistics related to Strokes,</strong>  <a href="https://www.cdc.gov/stroke/facts.htm">click here</a></p>
           </div><!-- End Stats Item -->

          </div>

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <a href="https://www.youtube.com/watch?v=6fcCpNgbJR8" class="glightbox play-btn"></a>
        <h3>Stroke is an Emergency! Act FAST</h3>
        <p> Click in the Play button to watch Stoke Emergency First aid.</p>
        
        <a class="cta-btn" href="#"><h3>Call Emergency Services</h3></a>
      </div>
    </section><!-- End Call To Action Section -->
























    <!-- ======= Our Services Section ======= -->
    <section id="dd" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2><b>Prevention</b></h2>
          <p>Knowing your stroke risk factors, following your health care provider's recommendations and adopting a healthy lifestyle are the best steps you can take to prevent a stroke.</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <h3>Controlling high blood pressure (hypertension)</h3>
              <p>This is one of the most important things you can do to reduce your stroke risk. If you've had a stroke, lowering your blood pressure can help prevent a subsequent TIA or stroke. Healthy lifestyle changes and medications are often used to treat high blood pressure.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-heart"></i>
              </div>
              <h3>Lowering the amount of cholesterol and saturated fat in your diet</h3>
              <p>Eating less cholesterol and fat, especially saturated fat and trans fats, may reduce buildup in the arteries. If you can't control your cholesterol through dietary changes alone, your doctor may prescribe a cholesterol-lowering medication.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-circle-fill" style="color: blue;"></i>
              </div>
              <h3>Managing diabetes</h3>
              <p>Diet, exercise and losing weight can help you keep your blood sugar in a healthy range. If lifestyle factors don't seem to be enough to control your diabetes, your doctor may prescribe diabetes medication.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-person-bounding-box"></i>
              </div>
              <h3>Maintaining a healthy weight</h3>
              <p>Being overweight contributes to other stroke risk factors, such as high blood pressure, cardiovascular disease and diabetes.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <h3>Exercising regularly</h3>
              <p> Aerobic exercise reduces the risk of stroke in many ways. Exercise can lower blood pressure, increase the levels of good cholesterol, and improve the overall health of the blood vessels and heart.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-wine"></i>
              </div>
              <h3>Drinking alcohol in moderation, if at all</h3>
              <p>Heavy alcohol consumption increases the risk of high blood pressure, ischemic strokes and hemorrhagic strokes. Alcohol may also interact with other drugs you're taking. </p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

    
    




























    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up" >
        <h2>Predict</h2>

          


        <form action="/predict" method="post">


          <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body" >
                        <h5 class="card-title">Age</h5>
                        <!-- Age -->
                        <input type="number" name="age" id="age" class="form-control", placeholder="Input Age" />
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">BMI</h5>
                        <!-- BMI-->
                        <input type="number" name="bmi" id="bmi" class="form-control", placeholder="Input BMI", step=0.1/>
                        
                    </div>
                </div>
            </div>


            
        </div>

        <br>





          <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Average Glucose Level</h5>
                        <!-- Average Glucose LevelAverage Glucose Level -->
                        <input type="number" name="avg_glucose_level" id="avg_glucose_level" class="form-control", placeholder="Input Average Glucose Level", step=0.1/>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ever Married</h5>
                        <!-- Ever Married -->
                        <label for="evermarried1">Yes</label>
                        <input type="radio" id="evermarried1" name="evermarried" value="Yes">
                        
                        <label for="evermarried2">No </label>
                        <input type="radio" id="evermarried2" name="evermarried" value="No">
                        
                    </div>
                </div>
            </div>
        </div>

        <br>






          <div class="row">
              <div class="col-sm-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Hypertension</h5>
                          <!-- Hypertension -->
                          <label for="hypertension1">Yes</label>
                          <input type="radio" id="hypertension1" name="hypertension" value="Yes">
                          
                          <label for="hypertension2">No </label>
                          <input type="radio" id="hypertension2" name="hypertension" value="No">
                      </div>
                  </div>
              </div>
              <br>
              <br>
              <br>
              <div class="col-sm-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Heart Disease</h5>
                          <!-- heartdisease -->
                          <label for="heartdisease1">Yes</label>
                          <input type="radio" id="heartdisease1" name="heartdisease" value="Yes">
                          
                          <label for="heartdisease2">No </label>
                          <input type="radio" id="heartdisease2" name="heartdisease" value="No">
                          
                      </div>
                  </div>
              </div>
          </div>

          <br>


          <div class="row">
              <div class="col-sm-6">
                  <div class="card">
                      <div class="card-body">
                          <!-- Gender -->
                          <h5 class="card-title">Gender</h5>
                          <select name="Gender" id="Gender" required="required">
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Residence Type</h5>
                          <!-- Residence Type -->
                          <select name="Residence_type" id="Residence_type" required="required">
                              <option value="Urban">Urban</option>
                              <option value="Rural">Rural</option>
                          </select>
                      </div>
                  </div>
              </div>
          </div>



          <br>


          <div class="row">
              <div class="col-sm-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Smoking Status</h5>
                          <!-- Smoking Status -->
                          <select name="smoking_status" required="required">
                              <option value="smokes">Smokes</option>
                              <option value="never smoked">Never smoked</option>
                              <option value="formerly Smoked">Formerly Smoked</option>
                              <option value="Unknown">Unknown</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Work Type</h5>
                          <!-- Airline -->
                          <select name="work_type" id="work_type" required="required">
                              <option value="Govt_job">Government Job</option>
                              <option value="Private">Private Sector</option>
                              <option value="Self-employed">Self-employed</option>
                              <option value="Never_worked">Never Worked</option>
                              <option value="children">Child</option>
                          </select>
                      </div>
                  </div>
              </div>
          </div>



          <br>
          
          <!-- Submit -->
          <input type="submit" value="Predict" class="btn btn-secondary"> <h3>{{ prediction_text }}</h3>
      </form>
      <br>
        <br>
        

        <br>
        <br>

      </div>
    </section><!-- End Our Team Section -->




























    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <img src="assets/img/frequently.jpg" alt="" class="img-fluid">
              
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    When to see your doctor?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    It’s important that you seek emergency care as soon as possible, regardless of the type of stroke. According to the American Stroke Association, for every minute that the brain is deprived of blood, approximately 2 million brain cells die from lack of oxygen and nutrients. When your brain cells die, the bodily functions controlled by those cells are also lost. This includes functions such as walking or speaking.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    What to expect after a stroke?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Dealing with the aftermath of a stroke can be physically and emotionally stressful. Depending on the severity of the stroke, you may lose some of your mental and physical abilities. Some of your abilities may return over time, while others may not.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    What's involved in stroke rehabilitation?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    There are many approaches to helping people recover from stroke. But overall, rehabilitation is centered around specifically focused and repetitive actions — practicing the same thing over and over again. Your rehabilitation plan will depend on the part of the body or type of ability affected by your stroke. Physical activities are Motor skill exercises, mobility training, range-of-motion therapy and constraint-induced therapy.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    When should stroke rehabilitation begin?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    The sooner you begin stroke rehabilitation, the more likely you are to regain lost abilities and skills. It's common for stroke rehabilitation to start as soon as 24 to 48 hours after your stroke, while you're in the hospital.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    How long does stroke rehabilitation last?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    How long you need stroke rehabilitation depends on the severity of your stroke and related complications. Some stroke survivors recover quickly. But most need some form of long-term stroke rehabilitation. This could last for possibly months or years after their stroke.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->




































    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2><b>Contact Stroke Rehabilitation Center</b></h2>
          <p>Our center is dedicated to helping individuals regain their independence and improve their quality of life. Our experienced team of professionals provides personalized care and support to guide you through the journey of recovery.</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>info@brainstrokesdiagnosis.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Open Hours:</h4>
                  <p>Mon-Sat: 11AM - 23PM</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Brain Strokes Diagnosis</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Group 02</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Final Project - <a href="https://bootstrapmade.com/">ST 3082</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>